parameters:
  level: 9
  paths:
    - src
  ignoreErrors:
    - message: '#Instanceof between \*NEVER\*#'
      path: src/traits/HasLock.php
  fileExtensions:
    - php
    - module
  scanDirectories:
    - wire/core
    - wire/modules
  bootstrapFiles:
    - wire/core/boot.php
